## Dev
RESERVASI-BACKEND-DEV_DATABASE_HOST: 'Your Host'
RESERVASI-BACKEND-DEV_DATABASE_USERNAME: 'Your Username'
RESERVASI-BACKEND-DEV_DATABASE_PASSWORD: 'Your Password'

## Prod
RESERVASI-BACKEND_DATABASE_HOST: 'Your Host'
RESERVASI-BACKEND_DATABASE_USERNAME: 'Your Username'
RESERVASI-BACKEND_DATABASE_PASSWORD: 'Your Password'
DEVISE_SECRET_KEY: 'Your Key'
SECRET_KEY_BASE: 'Your Key'
HTTP_ORIGIN: '*' # or specific IP address

